// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

body,
p,
ol,
ul,
td {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: 'Oswald', sans-serif;
}

#sessions-new nav.navbar.navbar-default {
    display: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #dcc7aa;
}

.logo-container .navbar-brand:hover,
.logo-container-xs .navbar-brand:hover {
  background-color: transparent;
}

body#sessions-new,
body#registrations-new,
body#passwords-new,
body#activities-new,
body#activities-edit {
  background: image-url("find-fit-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#activities-index {
  background: image-url("activities-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-container {
  margin-left: 200px;
  padding-top: 29px;
}

.logo-container-xs {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.nav-container-xs {
  margin-left: 0;
  padding-top: 0;
}

section.welcome {
  margin-bottom: 40px;
}

.searchmap {
  background-color: #f7c331;
}

aside.left-search {
  padding: 10px 40px;
}

input[type="text"] {
  padding: 6px 10px;
  border: 1px solid #dcc7aa;
}

textarea {
  border: 1px solid #dcc7aa;
}

.btn-default {
  background-color: #fff;
  border-color: #dcc7aa;

  &:hover {
    background-color: #dcc7aa;
    border-color: #dcc7aa;
  }
}

input[type="submit"] {
  background-color: #fff;
  border: 1px solid #dcc7aa;
  border-radius: 4px;
  padding: 4px 10px;

  &:hover {
    background-color: #dcc7aa;
    border-color: #dcc7aa;
  }
}

.activityinfo {
  background-color: #dcc7aa;
  padding: 60px 0 20px;
}

.table>tbody>tr>td {
  border-top: 1px solid #f7882f;
}

.table>thead>tr>th {
  border-bottom: 1px solid #f7882f;
}

footer {
  background-color: #f7c331;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 102%;

    p {
      margin: 20px 0;
    }
}

.creds {
  text-align: center;
}

.col-sm-4.left-search {
  margin-bottom: 40px
}

#activity_map {
  width: 100%;
  height: 542px;
}

.media-body p {
  margin:15px 10px;
}

.terms {
  max-width: 245px;
}

.location_subform {
  #activity_location_attributes_name, #activity_location_attributes_address, #activity_location_attributes_city, #activity_location_attributes_state, #activity_location_attributes_zip {
    background-color: yellow;
  }

.view-activities {
  margin-bottom: 20px;
}

.alert,
.notice {
  font-size: 15px;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

body#activities-show {
  background: image-url("activity_show_background_tinted.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.activity-info {
  background-color: rgba(247, 136, 47, 0.5);
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 25px;
}

.activity-info-text {
  text-decoration-color: white;
}


.activity_title {
  // background-color: #F7C331;
}

.participant-row {
  margin-top: 20px;
}

#participant_list {
  background-color: rgba(247, 136, 47, 0.5);
  padding: 1px 20px 20px 20px;
  border-radius: 25px;
}

.participant_image {
  height: 50px;
  width: 50px;
}
