// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#activity_map {
  width: 100%;
  height: 500px;
}
.media-body p {
  margin:15px 10px;
}

.terms {
  max-width: 245px;
}

.participant_image {
  height: 50px;
  width: 50px;
}
