// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Oswald', sans-serif;

body {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
}

#sessions-new nav.navbar.navbar-default {
    display: none;
}

.logo-container .navbar-brand:hover,
.logo-container-xs .navbar-brand:hover {
  background-color: transparent;
}

body#sessions-new,
body#registrations-new,
body#passwords-new,
body#activities-new,
body#activities-edit {
  background: image-url("find-fit-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-container {
  margin-left: 200px;
  padding-top: 29px;
}

.logo-container-xs {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.nav-container-xs {
  margin-left: 0;
  padding-top: 0;
}

.col-sm-4.left-search {
  margin-bottom: 40px
}

#activity_map {
  width: 100%;
  height: 500px;
}

.media-body p {
  margin:15px 10px;
}

.terms {
  max-width: 245px;
}

  #activity_location_attributes_name,
  #activity_location_attributes_address,
  #activity_location_attributes_city,
  #activity_location_attributes_state,
  #activity_location_attributes_zip {
    background-color: yellow;
  }

.view-activities {
  margin-bottom: 20px;
}

.alert,
.notice {
  margin: 0;
  padding: 10px 0;
  margin-bottom: 30px;
  margin-top: 30px;
}


body#activities-show {
  background: image-url("activity_show_background_tinted.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.activity-info {
  background-color: rgba(247, 136, 47, 0.5);
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 25px;
}

.activity-info-text {
  text-decoration-color: white;
}


.activity_title {
  // background-color: #F7C331;
}

.participant-row {
  margin-top: 20px;
}

#participant_list {
  background-color: rgba(247, 136, 47, 0.5);
  padding: 1px 20px 20px 20px;
  border-radius: 25px;
}

.participant_image {
  height: 50px;
  width: 50px;
}
