// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location_show_image {
  height: 200px;
  width: 200px;
}

.location_index_image {
  height: 50px;
  width: 50px;
}
